
@{
    Layout = "~/Views/Shared/_Layout_type.cshtml";
    ViewBag.Title = "薪龍生命禮儀";
}


<div>
    <h1>放薪龍照片</h1>
</div>
<hr />
<table border="1" style="width:100%">
    <tbody>
        <tr>
            <td>
                @Html.Partial("ServiceContentSlit", @ViewData["Severvice"])
            </td>
            <td>
                @Html.Partial("ServiceContentSlit", @ViewData["Case"])
            </td>
        </tr>

        <tr>
            <td>
                @Html.Partial("ServiceContentSlit", @ViewData["Tower"])
            </td>
            <td>
                @Html.Partial("ServiceContentSlit", @ViewData["Government"])
            </td>
        </tr>

    </tbody>
</table>

